/*! mathapedia */
html, body, div, svg {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

article > h1, 
section > h3,
.books h1 {
	text-align: center;
}

.pspicture-view {
  position: relative;
  margin: auto;
}

span.tt {
  font-family: courier;
}

span.rm {
    font-family: 'Arbutus Slab', serif;
}


p.quotation {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  font-size: 10pt;
}

.well {
	margin-top: 20px;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


body {
  margin: 0;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: 'Arbutus Slab', serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}

.latex-container {
  max-width: 870px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

@media (min-width: 1200px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .latex-container {
    width: 724px;
  }
}

@media (max-width: 767px) {
  body {
    padding-right: 20px;
    padding-left: 20px;
  }
  .latex-container {
    width: auto;
  }
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

pre {
  overflow: auto;
}