/*! mathapedia */
html, body, div, svg {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

article > h1, 
section > h3,
.books h1 {
	text-align: center;
}

.well {
	margin-top: 20px;
	background-color: #FCFCFC;
}

body {
    font-family: 'Arbutus Slab', serif;
}

.pspicture-view {
	position: relative;
	margin: auto;
}

.hero-unit {
	background-color: white;
}

span.tt {
	font-family: courier;
}

span.rm {
    font-family: 'Arbutus Slab', serif;
}


p.quotation {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  font-size: 10pt;
}
