body {
  font-family: 'Arbutus Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333333;
}
h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.centered {
  max-width: 100%;
  text-align: center;
}

@media (min-width: 768px) {
  .centered > img {
    max-width: 600px;
  }
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
